extends layouts/layout

block content
  a.back(href="javascript:history.back()") Tilbage
  h1= swimmerData.name
  div.container
    div.table
      div.table-header
        div.header__item: div.filter__link Løb
        div.header__item: div.filter__link.filter__link--number Tid
        div.header__item: div.filter__link Banelængde
      div.table-content
        for event in events
          div.table-row
            div.table-data #{event.event_name}
            div.table-data #{event.time_formatted}
            div.table-data #{event.pool_text}
